* {
    margin: 0;
}

body {
    background-color: #1F2039;
    font-family: "Manrope", sans-serif;
    font-size: 1em;
}

a {
    color: #242424;
    text-decoration: none;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family:"Montserrat", sans-serif;
}

h2 {
    color: #F9F8FF;
}

p, 
li {
    font-size: 1.1em;
    color: #F9F8FF;
}

header, 
footer {
    background-color: white;
    padding: 20px 50px;
}

.click-to-action {
    display: inline-block;
    color: white;
    background: linear-gradient(#8E86B5, #ACAEED);
    border-radius: 50px;
    padding: 20px 30px;
}

a:hover {
    text-decoration: underline;
}

.click-to-action:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
}

.icon-links {
    margin-left: 30px;
}

.icon-links:hover {
    opacity: 0.5;
}

.introduction {
    border-right: 1px #8e86b5 solid;
    border-bottom:1px #8e86b5 solid;
    padding: 50px;
    margin-bottom: 80px;
}

.introduction h2 {
    margin-top: 30px;
}

.introduction ul {
    margin-top: 30px;
}

.introduction div {
    text-align: center;
}

section {
    padding: 80px;
}

.about-main {
    width: 50%;
    margin: auto;

}
footer,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 30px;
}

.welcome-photos {
    background-color: white;
    margin-bottom: 80px;
}

.welcome-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}

.welcome-photos div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.welcome-intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 60%;
    margin: auto;
}

.welcome-intro h1 {
    margin-bottom: 15px;
}

.welcome-intro p {
    margin-bottom: 30px;
}

.welcome-intro div {
    padding-right: 80px;
}

.portfolio-sec-photos {
    background-color: white;
}

.portfolio-sec-photos h2 {
    color: #242424;
    margin-bottom: 80px;
}

.grid-paysages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}

.grid-portraits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}

.grid-paysages img,
.grid-portraits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link-container-photo {
    position: relative;
}

.photo-hover {
    position: absolute;
    background-color: #242424;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    display: none;
}

.link-container-photo:hover .photo-hover {
    display: flex;
}